
a {
  text-decoration: none; /* Rimuove la sottolineatura tipica dei link */
}

.bottom .social-buttons-container .social-button .svg{
  pointer-events: none; /* Rende non cliccabili i testi */
}

.predisposition {
  display: flex;
  justify-content: center; /* Per centrare orizzontalmente */
  gap: 18px; /* Spazio tra i componenti */
  align-items: center; /* Centrare verticalmente */
  padding: 20px; /* Spazio interno attorno ai componenti */
  margin: 20px; /* Spazio esterno attorno alla sezione */
  box-sizing: border-box; /* Include padding e border nelle dimensioni totali */
}

.parent-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonne */
  grid-template-rows: repeat(2, auto);  /* 2 righe */
  gap: 20px;  /* Spaziatura tra le carte */
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.parent {
  width: 700px;
  height: 270px;
  perspective: 1000px;
  position: relative; /* Assicura che gli elementi interni siano posizionati rispetto alla carta */
}

.card {
  cursor: pointer; /* Mostra che la carta è cliccabile */
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, #012950 0%, #0074D9 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
}
  
  .glass {
    transform-style: preserve-3d;
    position: absolute;
    inset: 8px;
    border-radius: 55px;
    border-top-right-radius: 900%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.362) 0%, rgba(255, 255, 255, 0.175) 100%);
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
    transform: translate3d(0px, 0px, 25px);
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transition: all 0.5s ease-in-out;
  }
  
  .content {
    padding: 50px 20px 0px 20px; /* Ridotto il padding per adattarsi alla nuova dimensione */
    transform: translate3d(0, 0, 26px);
    position: relative;
  }
  
  .content .title {
    position: absolute; /* Cambia il comportamento di posizionamento dell'elemento */
    top: 60px; /* Sposta l'elemento più in alto */
    left: 10px; /* Sposta l'elemento verso sinistra */
    color: rgba(255, 255, 255, 0.765);
    font-size: 18px;
    text-align: left; /* Allinea il testo a sinistra */
  }
  
  .content .text {
    display: block;
    color: rgba(255, 255, 255, 0.765);
    font-size: 15px;
    margin-top: 50px;
    width: 100%; /* Imposta la larghezza del contenuto a 100% dell'elemento contenitore */
    max-width: 400px; /* Definisci una larghezza massima per evitare che diventi troppo largo */
    box-sizing: border-box; /* Assicura che il padding sia incluso nella larghezza totale */
    text-align: left; /* Allinea il testo a sinistra */
}

  .content .country {
    position: absolute; /* Cambia il comportamento di posizionamento dell'elemento */
    top: 10px; /* Sposta l'elemento più in alto */
    left: 10px; /* Sposta l'elemento verso sinistra */
    color: rgba(255, 255, 255, 0.765);
    font-size: 18px;
    text-align: left; /* Allinea il testo a sinistra */
}

  .bottom {
    padding: 10px 12px;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate3d(0, 0, 26px);
  }
  
  .bottom .view-more {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
  }
  
  .bottom .view-more:hover {
    transform: translate3d(0, 0, 10px);
  }
  
  .bottom .view-more .view-more-button {
    background: none;
    border: none;
    color: #012950;
    font-weight: bolder;
    font-size: 12px;
  }
  
  .bottom .view-more .svg {
    fill: none;
    stroke: #012950;
    stroke-width: 3px;
    max-height: 15px;
  }
  
  .bottom .social-buttons-container {
    display: flex;
    gap: 10px;
    transform-style: preserve-3d;
    margin-bottom: -10px;
  }
  
  .bottom .social-buttons-container .social-button {
    width: 30px;
    aspect-ratio: 1;
    padding: 5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
  }
  
  .bottom .social-buttons-container .social-button:first-child {
    transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
  }
  
  .bottom .social-buttons-container .social-button:nth-child(2) {
    transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
  }
  
  .bottom .social-buttons-container .social-button:nth-child(3) {
    transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
  }
  
  .bottom .social-buttons-container .social-button .svg {
    width: 15px;
    fill: #074983;
  }
  
  .bottom .social-buttons-container .social-button:hover {
    background: rgb(255, 234, 0);
  }
  
  .bottom .social-buttons-container .social-button:hover .svg {
    fill: #0074D9;
  }
  
  .bottom .social-buttons-container .social-button:active {
    background: rgb(255, 234, 0);
  }
  
  .bottom .social-buttons-container .social-button:active .svg {
    fill: rgb(0, 0, 0);
  }
  
  .logo {
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
  }
  
  .logo .circle {
    display: block;
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 0;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 249, 203, 0.2);
    transition: all 0.5s ease-in-out;
  }
  
  .logo .circle1 {
    width: 170px;
    transform: translate3d(0, 0, 20px);
    top: 8px;
    right: 8px;
    background-color: #eaec4c; /* Sostituisci con il colore desiderato */
  }
  
  .logo .circle2 {
    width: 140px;
    transform: translate3d(0, 0, 40px);
    top: 10px;
    right: 10px;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    transition-delay: 0.4s;
  }
  
  .logo .circle3 {
    width: 110px;
    transform: translate3d(0, 0, 60px);
    top: 17px;
    right: 17px;
    transition-delay: 0.8s;
    background-color: rgba(255, 242, 0, 0.571); /* Sostituisci con il colore e la trasparenza desiderati */

  }
  
  .logo .circle4 {
    width: 60px;
    transform: translate3d(0, 0, 80px);
    top: 1px;
    right: 118px;
    transition-delay: 1.2s;
    background-color: rgb(255, 242, 0); /* Sostituisci con il colore e la trasparenza desiderati */

  }
  
  .logo .circle4 .svg {
    width: 50%; /* Imposta una larghezza per il logo */
    height: auto; /* Mantiene il rapporto d'aspetto */
    position: absolute; /* Posizionamento assoluto per centrare l'elemento */
    top: 50%; /* Posiziona il logo verticalmente al centro */
    left: 50%; /* Posiziona il logo orizzontalmente al centro */
    transform: translate(-50%, -50%); /* Centra l'elemento in base al suo punto centrale */
  }

  .logo .circle5 {
    width: 130px; /* Mantieni la larghezza desiderata */
    height: 130px; /* Aggiungi altezza per mantenere la forma circolare */
    transform: translate3d(0, 0, 100px);
    top: 0px; /* Posizionamento verticale */
    right: 8px; /* Posizionamento orizzontale */
    display: grid;
    place-content: center; /* Centro il contenuto */
    transition-delay: 1.6s;
  
    /* Rimuovi il colore di sfondo e aggiungi i seguenti stili */
    border-radius: 50%; /* Rendi il div circolare */
    overflow: hidden; /* Nasconde tutto il contenuto che esce dai bordi */
  }
  
  .logo .circle5 .img {
    width: 100%; /* Assicurati che l'immagine occupi tutto lo spazio disponibile */
    height: 100%; /* Mantieni l'altezza al 100% per evitare distorsioni */
    object-fit: cover; /* Assicura che l'immagine mantenga il suo rapporto d'aspetto mentre riempie il cerchio */
  }
  
  
  .parent:hover .card {
    transform: rotate3d(1, 1, 0, 30deg);
    box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
  }
  
  .parent:hover .card .bottom .social-buttons-container .social-button {
    transform: translate3d(0, 0, 50px);
    box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
  }
  
  .parent:hover .card .logo .circle2 {
    transform: translate3d(0, 0, 60px);
  }
  
  .parent:hover .card .logo .circle3 {
    transform: translate3d(0, 0, 80px);
  }
  
  .parent:hover .card .logo .circle4 {
    transform: translate3d(0, 0, 100px);
  }
  
  .parent:hover .card .logo .circle5 {
    transform: translate3d(0, 0, 120px);
  }
