/* Stili di base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.opportunity-hero {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.hero-title {
    font-size: 36px;
    margin: 0;
}

.hero-location {
    font-size: 20px;
    color: #555;
}

.description-section, .info-section {
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.apply-section {
    background-color: #e0e0e0;
    padding: 50px 0;
    text-align: center;
}

.apply-button {
    padding: 15px 30px;
    background-color: #ff6f61;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.apply-button:hover {
    background-color: #ff4f41;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
