* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.job-secondcontainer {
    max-width: 900px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
}

.job-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #d7e0e3;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
}

.job-image img {
    margin-bottom: -10px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* Aggiunge bordi arrotondati */
}

.job-title title {
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    /* Aggiungi questa proprietà */
    top: 50%;
    /* Posiziona a metà */
    left: 50%;
    /* Centra orizzontalmente */
    transform: translate(-50%, -50%);
    /* Centra esattamente */
    color: #FFD700; /* Aggiungi il colore desiderato (es. dorato) */
}

.job-details {
    padding: 0px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.job-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #90a4b4;
    padding: 10px;
    border-radius: 0px;
    width: 100%;
    /* Imposta la larghezza al 100% meno il padding */
    margin: 0 auto;
    /* Centra la sezione */
}


.job-info p {
    margin: 0;
    font-weight: bold;
}

.about-company,
.job-description,
.job-requirements {
    margin-bottom: 20px;
}

.about-company h2,
.job-description h2,
.job-requirements h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.job-requirements ul {
    list-style-type: none;
    padding-left: 0;
}

.job-requirements ul li {
    margin-bottom: 5px;
}

.call-to-action {
    text-align: center;
}

.call-to-action p {
    font-size: 18px;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.apply-btn,
.contact-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-btn {
    background-color: #7fc97f;
    color: white;
}

.contact-btn {
    background-color: #4a90e2;
    color: white;
}